// app global css in SCSS form
@font-face {
  font-family: DynaPuff;
  src: url(./fonts/DynaPuff-Medium.ttf);
}

.custom-font {
  font-family: 'DynaPuff';
}

//theme
.body--light {
  color: $grey-9;
  .page {
    background-color: $grey-1;
    &-header {
      background-color: $grey-1;
    }
  }

  .q-footer {
    background: $grey-1;
    color: $grey-9;
  }

  .loading-box {
    background-color: $grey-2;
    color: $grey-9;
  }
}

.body--dark {
  .page {
    background-color: $dark;
    &-header {
      background-color: $dark;
    }
  }

  .q-footer {
    background: $dark;
    color: $grey-1;
  }

  .loading-box {
    background-color: $grey-9;
    color: $grey-2;
  }
}

//loading
.q-loading__box {
  gap: 10px;
  flex-direction: row;

  .q-spinner,
  .q-loading__message {
    margin: 0;
  }
}

//layout
.q-footer {
  z-index: 3000;
  height: 55px;

  .q-tab {
    padding-inline: 0;
    .q-tab__label {
      font-size: 12px;
    }
  }
}

//page
.page {
  z-index: 2000;
  overflow: hidden;
  &-header {
    height: 45px;
    z-index: 1001;
  }
  &-body {
    z-index: 1000;
    &-spacer-header {
      height: 45px;
    }
    &-spacer-footer {
      height: 55px;
    }
  }
  &-nudger {
    transition: transform $transition-duration;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2001;
      pointer-events: none;
      opacity: 0;
      transition: opacity $transition-duration;
    }
    &.nudge-left {
      transform: translateX(-60px);
      &::after {
        opacity: 1;
      }
    }
  }
}

//transitions/animations
.slideInRight,
.slideOutRight {
  --webkit-animation-duration: $transition-duration;
  --moz-animation-duration: $transition-duration;
  --o-animation-duration: $transition-duration;
  animation-duration: $transition-duration;
}

//links
a {
  color: $blue-5;
}
